<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getBookId()})}"
       th:text="${book.getName() + ', ' + book.getAuthor() + ', ' +
       book.getYearOfRelease()}">Book</a>
</div>


<div sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')">
    <br/>
    <hr/>
    <br/>
    <form th:action="@{/books/new}" th:method="GET">
        <input type="submit" value="Добавить книгу"/>
    </form>
    <br/>
</div>

<a th:href="@{/hello}">
    <button type="button">Назад</button>
</a>

</body>
</html>