<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Информация о книге</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfRelease()}">VALUE</p>

<div sec:authorize="hasRole('USER')" th:if="${owner}">
    <p>Книга занята другим пользователем.</p>
</div>

<div sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getName()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBookId()})}">
        <br/>
            <input type="submit" value="Освободить книгу"/>
            <br/>
    </form>
    <hr/>
    <br/>
</div>

<div sec:authorize="hasRole('USER')" th:if="${owner == null}">
    <p>Книга свободна.</p>
</div>

<div sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" th:if="${owner == null}">
    <hr/>
    <p>Эта книга свободна. Кому назначить её?</p>

    <form th:method = "PATCH" th:action="@{/books/{id}/assign(id=${book.getBookId()})}">
        <label for="person">Выберите человека:</label>
        <select th:object = "${person}" th:field="*{personId}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPersonId()}"
                    th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
    <br/>
    <hr/>
    <br/>
</div>


<div sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')">
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Удалить"/>
</form>
</div>
</body>
</html>