<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

<p>Здравствуйте, <span th:text="${person.name}">Имя</span></p>
<hr/>
<br/>
<form th:action="@{/books}" th:method="GET">
    <input type="submit" value="Список книг"/>
</form>
<br/>

<div sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')">
    <form th:action="@{/people}" th:method="GET">
        <input type="submit" value="Список людей"/>
    </form>
    <br/>
</div>

<form th:action="@{/showUserInfo}" th:method="GET">
    <input type="submit" value="Вывести информацию о себе в консоль разработчика"/>
</form>
<br/>

<div sec:authorize="hasRole('SUPER_ADMIN')">
    <form th:action="@{/admin/setAdmin}" th:method="GET">
        <input type="submit" value="Назначить администратора"/>
    </form>
    <br/>
</div>

<div sec:authorize="hasRole('SUPER_ADMIN')">
    <form th:action="@{/admin/removeAdmin}" th:method="GET">
        <input type="submit" value="Лишить прав администратора"/>
    </form>
    <br/>
</div>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Выйти из учётной записи"/>
</form>


</body>
</html>